<launch>
	<arg name="pumpkin_path" default="$(find pumpkin)"/>

	<param name="~pumpkin_path" value="$(arg pumpkin_path)"/>

	<node name="file_server" pkg="pumpkin_interface" type="file_server"/>
	<node name="setup_arduino" pkg="pumpkin_interface" type="setup_arduino"/>
	<node name="setup_ssc" pkg="pumpkin_interface" type="setup_ssc"/>
</launch>
